
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home {
  text-align: center;
  position: relative;
}

.home h2 {
  margin: 0;
}

.home-logo {
  height: 80px;
}

.home-header {
  background: rgba(255,255,255,.9);
  padding: 10px;
  color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

@media only screen and (min-width : 720px) {
  .home-header {
    position: relative;
  }
}
.home-header ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.home-header ul li {
  color: #000;
  padding: 0 12px;
  font-weight: bold;
}

.home-header ul li a {
  cursor: pointer;
}

.home-header ul li.active a {
  border-bottom: 2px solid #000;

}

.home-intro {
  font-size: large;
}

.cabinet-container {
  display: block;
}

@media only screen and (min-width : 720px) {
  .cabinet-container {
    display: none;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: -68px;
  }

  .cabinet-container.active {
    display: flex;
  }
}

.cabinet-arrows {
  display: none;
}

.cabinet-arrows p {
  cursor: pointer;
  border: 2px solid #000;
  letter-spacing: .09em;
  padding: 10px;
  position: absolute;
  top: 50%;
  z-index: 999;
}

@media only screen and (min-width : 720px) {
  .cabinet-arrows {
    display: block;
  }
}

.cabinet-arrows p:last-child {
  right: 0;
}
