.modal-container.active {
  cursor: pointer;
  border: 5px solid yellow;
  padding: 60px 20px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  color: #000;
  background: rgba(255,255,255, .9);
  height: 100%;
}
