.modal-container {
  display: none;
}

.modal-container.active {
  display: block;
  cursor: pointer;
  border: 5px solid yellow;
  padding: 60px 20px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  color: #000;
  background: rgba(255,255,255, .95);
  height: 100%;
  z-index: 9999;
}

.modal-container.active .close {
  position: absolute;
  top: 30px;
  right: 30px;
}
